.header{
	padding-top: 30px;
  padding-bottom: 10px;
	background-image: url(../img/header.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
	font-family: monospace;
  text-align: center;
}

.header-picture img{
	border: 2px solid #ffb300;
	border-radius: 50%;
	padding: 3px;
}

.header-info{
	text-align: center;
}

.header-info h2{
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	color: #fff;
}

.header-info h2 span{
	font-weight: 800;
	color: #ffb300;
}
